$background-white: #ffffff;
$color-white: #fff;
$color-black: #000;
$color-pink:rgb(190, 3, 81);



$color-gray1: #707070; //header nav left
$color-gray2: #212529; //header nav right
$bg-color-light-gray: #e4e4d1;



//font weights
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;


// $color-dark-pinK: rgb(185, 5, 80);
// $color-pink: rgb(228, 20, 107);